:root{
    //base
    --b1: #333333;
    --b2: #555555;
    --b3: #999999;
    --b4: #ffffff;
    --b5: #e4e4e4;

    //main
    --m1: #3F75FF;
    --m2: #F7FAFC;
    --m3: #E1E6F4;
    --m4: #E1E3E8;
    --m5: #ECEEF2;
    --m6: #E1E3E8;
    --m7: #7284B2;
}