:root.dark {
    //base
    --b1: #333333;
    --b2: #555555;
    --b3: #999999;
    --b4: #ffffff;
    --b5: #dddddd;

    //main
    --m1: #222222;
    --m2: #333333;
    --m3: #858585;
    --m4: #e7e7e7;
    --m5: #999999;
    --m6: #666666;
    --m7: #000000;

    @mixin scrollB {
        &::-webkit-scrollbar-thumb {
            background-color: var(--b5);
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
    }

    @mixin scrollInM {
        &::-webkit-scrollbar-thumb {
            background-color: var(--b5);
        }
    }

    .scrollBasic {
        @include scrollB();
    }

    .scrollInMemo {
        @include scrollInM();
    }

    .header {
        background: var(--b1);

        h2 {
            color: var(--b4);
        }
    }

    //우측네비
    .inb {
        background: var(--b2);

        border-left: 1px solid var(--m3);

        button {
            background-color: var(--b1);
            color: var(--b4);

            &:hover:not(.subBtn1, .subBtn2, .theme) {
                background-color: var(--m4);
                color: var(--m1);
            }
        }

        .click {
            background-color: var(--b4);
            color: var(--m7);
        }

        .subBtn1 {
            background-color: #05507D;

            img {
                width: 18px;
                height: 18px;
            }

            &:hover {
                background-color: var(--b3);
            }
        }

        .subBtn2 {
            background-color: #00B37B;

            img {
                width: 18px;
                height: 18px;
            }

            &:hover {
                background-color: var(--b3);
            }
        }

        .line {
            background-color: var(--m6);
        }

        .theme {
            &:hover {
                background: var(--m3);
            }

            &::after {
                content: url(/common/img/dark.svg);
            }
        }
    }

    //컨텐츠
    .conBox {
        background: var(--b2);

        .flex {

            &:hover {
                background-color: var(--m3);
            }
        }

        .arcBox {
            background-color: var(--b1);
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);

            li {
                color: var(--b4);

                input[type="checkbox"] {
                    border: 2px solid var(--b3);
                }

                input[type="checkbox"]:checked {
                    background: var(--m1);
                    border: none;

                    +label {
                        text-decoration: line-through;
                        color: var(--m7);
                    }
                }
            }

            &.highlight {
                background-color: var(--m3);
            }

            //컨텐츠
            .arcCon {

                background-color: var(--b1);

                .content {

                    h3 {
                        color: var(--b4);
                    }

                    .exHead {
                        color: var(--b4);
                        background-color: var(--m6);
                    }

                    .ex {
                        background: var(--b5);
                        border: 1px solid var(--m6);

                    }

                    .box {
                        background-color: var(--m6);
                        border: 1px solid var(--m5);

                        h4 {
                            color: var(--b4);
                        }
                    }

                    .conList {
                        p {
                            color: #B7C5E7;
                        }
                    }

                    .line {
                        background-color: var(--m6);
                    }
                }
            }
        }
    }

    .fold {
        color: var(--b4);
        background: transparent;

        &:hover {
            color: var(--m7);
        }
    }

    //innerTab
    .innerTabMenu {

        ul {
            background-color: transparent;
            border-bottom: 1px solid var(--m6);
            color: var(--b4);

            li {

                a {
                    color: var(--m6);
                    background: var(--m5);
                    font-weight: 700;
                    font-size: 18px;
                }

                &.active-a {
                    a {
                        background-color: var(--b4);
                        border: unset !important;
                        color: var(--m7);
                    }
                }
            }
        }
    }

    //memo
    .inOut {

        .memo {
            @include scrollInM();
            background-color: var(--b2);
            border-left: 1px solid var(--m3);

            .memoBoard {
                box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);

                .memoHead {
                    background-color: var(--b4);
                    border-radius: 0 6px 6px 0;

                    .add,
                    .del {
                        color: var(--m7);
                        background-color: var(--b4);

                        &:hover {
                            color: var(--m6);
                        }
                    }
                }

                .memoCon {
                    @include scrollM();

                    background-color: var(--b4);
                    border-radius: 6px 0 0 6px;

                    &::placeholder {
                        color: var(--b3);
                    }
                }

            }
        }
    }

}